# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
frontend/node_modules
frontend/.pnpm-store

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example

# VSC
.history

# Backend
backend/__pycache__/
backend/*.pyc
backend/venv/
backend/.venv
backend/media/
backend/staticfiles/
backend/db.sqlite3
backend/.env

# Frontend
frontend/.output
frontend/.cache
frontend/dist

# Nginx
nginx/*.log

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.egg-info/
.eggs/
